.navContainer {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.navLink {
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #101828;
    text-decoration: none;
}

.activeNavLink {
    color: #D84343;
}

@media screen and (min-width: 768px) {
    .navContainer {
        gap: 24px;
    }

    .navLink {
        font-size: 16px;
    }
}

@media screen and (min-width: 1440px) {
    .navContainer {
        gap: 32px;
    }
}