.sidebar {
    transform: translateX(-130%);
    position: absolute;
    background-color: #fff;
    border: 1px solid var(--Main);
    padding: 12px;
    border-radius: 12px;
    transition: transform 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    height: 80vh;
    overflow: hidden;
}

.sidebarOpen {
    transform: translateX(-2%);
    height: auto;
    overflow: auto;
}

.btnSearch {
    border-radius: 200px;
    background: var(--Button, #E44848);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: -0.08px;
    color: var(--White);
    border: none;
    cursor: pointer;
    padding: 16px 60px;
    transition: background-color 250ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.btnSearch:hover {
    background-color: var(--Button-Hover);
}

@media screen and (min-width:1440px) {
    .sidebar {
        position: static;
        transform: translateX(0);
        border: 0;
        border-radius: 0;
    }
}