.imageCamper {
    width: 292px;
    max-height: 320px;
    object-fit: cover;
    border-radius: 10px;
}

.bgDiv {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.innerCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.starIcon {
    fill: var(--Rating);
    margin-right: 4px;
}

.camperDesc {
    display: -webkit-box;
    max-width: 525px;
    max-height: 48px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    color: var(--Text);
    text-overflow: ellipsis;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
}

.camperFilterList {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 24px;
    max-height: 104px;
    overflow: hidden;
}

.camperFilterList li {
    padding: 12px 18px;
    background-color: var(--Badges);
    border-radius: 100px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.camperFilter {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: var(--Main);
}

.upperContCard {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.upperContCard>h2,
.upperContCard>p {
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    color: var(--Main);
}

.ratingAndLocationCont {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
}

.ratingAndLocationCont span {
    display: flex;
    align-items: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: var(--Main);
}

.camperFilterList+a {
    padding: 16px 60px;
    background-color: var(--Button);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.08px;
    color: var(--White);
    border-radius: 200px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-block;
}

.camperFilterList+a:hover {
    background-color: var(--Button-Hover);
}

.camperCardFeaturesIcon {
    width: 20px;
    height: 20px;
}

.upperContCard div {
    display: flex;
    gap: 8px;
    align-items: center;
}

.btnFav {
    padding: 0;
    border: 0;
    background-color: transparent;
    height: 24px;
}

.favIcon {
    height: 24px;
    width: 20px;
}

.favIconPressed {
    fill: var(--Button);
}


@media screen and (min-width:768px) {
    .innerCard {
        flex-direction: row;
        align-items: normal;
    }

    .upperContCard>h2 {
        font-size: 20px;
        line-height: 24px;
    }
}

@media screen and (min-width:1440px) {}