.equipmentFiltersItem div {
    border: 1px solid var(--Gray-light);
    border-radius: 12px;
    padding: 16px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.sidebarFilter {
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.08px;
    color: var(--Main);
    text-align: center;

}

.equipmentFiltersList {
    display: flex;
    flex-wrap: wrap;
    gap: 12px 8px;
    margin-bottom: 32px;
}

.equipmentFiltersItem {
    width: 98px;
    position: relative;
}

.checkbox {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.filtersIcon {
    width: 32px;
    height: 32px;
}

.checkbox:checked+div {
    border-color: var(--Button);
}

.contFilters>h3 {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: var(--Text);
    margin-bottom: 32px;
}

.contFilters>div>h3 {
    color: var(--Main);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--Gray-light);
    margin-bottom: 24px;
}

@media screen and (min-width: 1440px) {
    .sidebarFilter {
        font-size: 16px;
    }
}