.equipmentFiltersItem {
    border: 1px solid var(--Gray-light);
    border-radius: 12px;
    padding: 16px 12px;
}

.sidebarFilter {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: -0.08px;
    color: var(--Main);
    text-align: center;

}

.equipmentFiltersList {
    display: flex;
    flex-wrap: wrap;
    gap: 12px 8px;
}

.equipmentFiltersList li {
    width: 98px;
}