*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --Main: #101828;
  --Text: #475467;
  --Gray: #6C717B;
  --Button: #E44848;
  --Button-Hover: #D84343;
  --Rating: #FFC531;
  --Gray-light: #DADDE1;
  --Badges: #F2F4F7;
  --Inputs: #F7F7F7;
  --White: #FFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  padding: 0;
  margin: 0;
  color: #101828;
  font-family: Inter;
}

.container {
  width: 1440px;
  padding: 0 64px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

section {
  padding: 48px 0;
}

.discuss-wrapper {
  position: absolute;
  top: 40%;
  right: 48%;
}